<a href="https://colab.research.google.com/github/shacktemp/knowledge_check_2/blob/main/Data_C2_KnowCheck_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Cleaning Data

Data taken from [Department of Veterans Affairs data](https://catalog.data.gov/organization/va-gov?res_format=CSV). It gives a good indication of where veteran service agency can concentration efforts. Data descriptionL "This report provides county-level estimates of the number of Veterans who received VA Disability Compensation benefits during fiscal year 2020. It includes the Veterans’ total service-connected disability (SCD) rating, age group, and gender. Blank values represent small cell counts that have been suppressed to protect the identity of Veterans. In the "Total: Disability Compensation Recipients" column, each blank cell represents less than 10 Veterans. Some categories may not sum to the total due to missing information (e.g., age, gender, etc.)."

In [6]:
import pandas as pd
import numpy as np

In [7]:
vadc_df = pd.read_csv('https://raw.githubusercontent.com/shacktemp/knowledge_check_2/main/FY_2020_Disability_Compensation_Recipients_by_County.csv')

Check the shape of the data and print the first few rows.

In [31]:
print(vadc_df.shape)
vadc_df.head(100)

(3190, 14)

,FIPS Code,State,County Name,Total: Disability Compensation Recipients,SCD Rating: 0% to 20%,SCD Rating: 30% to 40%,SCD Rating: 50% to 60%,SCD Rating: 70% to 90%,SCD Rating: 100%,Age: 17-44,Age: 45-64,Age: 65 or Older,Male,Female
0,NaN,Alabama,Unknown,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001.0,Alabama,Autauga,2000.0,435.0,270.0,278.0,623.0,394.0,466.0,957.0,576.0,1687.0,313.0
2,1003.0,Alabama,Baldwin,5073.0,1524.0,774.0,772.0,1199.0,804.0,936.0,1553.0,2584.0,4648.0,425.0
3,1005.0,Alabama,Barbour,605.0,111.0,75.0,110.0,186.0,123.0,97.0,242.0,266.0,537.0,68.0
4,1007.0,Alabama,Bibb,278.0,61.0,47.0,38.0,81.0,51.0,56.0,95.0,127.0,252.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2261.0,Alaska,Valdez Cordova,194.0,65.0,31.0,28.0,45.0,25.0,41.0,61.0,92.0,NaN,NaN
96,2275.0,Alaska,Wrangell,47.0,17.0,NaN,NaN,NaN,12.0,NaN,NaN,27.0,NaN,NaN
97,2282.0,Alaska,Yakutat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2290.0,Alaska,Yukon Koyukuk,44.0,10.0,10.0,NaN,10.0,NaN,NaN,NaN,26.0,NaN,NaN
99,NaN,Arizona,Unknown,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
vadc_df.info

<bound method DataFrame.info of       FIPS code                    State              County Name  \
0           NaN                  Alabama                  Unknown
1        1001.0                  Alabama                  Autauga
2        1003.0                  Alabama                  Baldwin
3        1005.0                  Alabama                  Barbour
4        1007.0                  Alabama                     Bibb
...         ...                      ...                      ...
3185    56043.0                  Wyoming                 Washakie
3186    56045.0                  Wyoming                   Weston
3187    72000.0              Puerto Rico             All Counties
3188    88888.0           US Territories           US Territories
3189        0.0  Other Foreign Countries  Other Foreign Countries

      Total: Disability Compensation Recipients  SCD rating: 0% to 20%  \
0                                          10.0                    NaN
1                                        2000.0                  435.0
2                                        5073.0                 1524.0
3                                         605.0                  111.0
4                                         278.0                   61.0
...                                         ...                    ...
3185                                      130.0                   52.0
3186                                      209.0                   91.0
3187                                    26009.0                 4686.0
3188                                     4424.0                  888.0
3189                                    19225.0                 3559.0

      SCD rating: 30% to 40%  SCD rating: 50% to 60%  SCD rating: 70% to 90%  \
0                        NaN                     NaN                     NaN
1                      270.0                   278.0                   623.0
2                      774.0                   772.0                  1199.0
3                       75.0                   110.0                   186.0
4                       47.0                    38.0                    81.0
...                      ...                     ...                     ...
3185                    11.0                    12.0                    40.0
3186                    32.0                    33.0                    36.0
3187                  2987.0                  3377.0                  8027.0
3188                   630.0                   626.0                  1350.0
3189                  3010.0                  3118.0                  6047.0

      SCD rating: 100%  Age: 17-44  Age: 45-64  Age: 65 or older     Male  \
0                  NaN         NaN         NaN               NaN      NaN
1                394.0       466.0       957.0             576.0   1687.0
2                804.0       936.0      1553.0            2584.0   4648.0
3                123.0        97.0       242.0             266.0    537.0
4                 51.0        56.0        95.0             127.0    252.0
...                ...         ...         ...               ...      ...
3185              15.0        40.0        29.0              61.0    119.0
3186              17.0        39.0        46.0             124.0    198.0
3187            6932.0      4485.0      8922.0           12601.0  24429.0
3188             930.0      1056.0      1945.0            1423.0   3885.0
3189            3491.0      5644.0     10656.0            2924.0  16253.0

      Female
0        NaN
1      313.0
2      425.0
3       68.0
4       26.0
...      ...
3185    11.0
3186    11.0
3187  1580.0
3188   539.0
3189  2972.0

[3190 rows x 14 columns]>

In [13]:
vadc_df.columns

Index(['FIPS code', 'State', 'County Name',
       'Total: Disability Compensation Recipients', 'SCD rating: 0% to 20%',
       'SCD rating: 30% to 40%', 'SCD rating: 50% to 60%',
       'SCD rating: 70% to 90%', 'SCD rating: 100%', 'Age: 17-44',
       'Age: 45-64', 'Age: 65 or older', 'Male', 'Female'],
      dtype='object')

First minor issue that is going to be fixed is capitalizing all the words that are lowercase in the title heading.

In [29]:
fixed_columns = {
    'FIPS code':'FIPS Code',
    'SCD rating: 0% to 20%':'SCD Rating: 0% to 20%',
    'SCD rating: 30% to 40%':'SCD Rating: 30% to 40%',
    'SCD rating: 50% to 60%':'SCD Rating: 50% to 60%',
    'SCD rating: 70% to 90%':'SCD Rating: 70% to 90%',
    'SCD rating: 100%':'SCD Rating: 100%',
    'Age: 65 or older':'Age: 65 or Older',

}

vadc_df.rename(columns=fixed_columns,inplace=True)
vadc_df.columns

Index(['FIPS Code', 'State', 'County Name',
       'Total: Disability Compensation Recipients', 'SCD Rating: 0% to 20%',
       'SCD Rating: 30% to 40%', 'SCD Rating: 50% to 60%',
       'SCD Rating: 70% to 90%', 'SCD Rating: 100%', 'Age: 17-44',
       'Age: 45-64', 'Age: 65 or Older', 'Male', 'Female'],
      dtype='object')

The second clean performed will be to remove the rows with blanks in the "Total: Disability Compensation Recipients" cell because those rows do not have any information to analyze.

In [41]:
vadc_df = vadc_df.dropna(subset=['Total: Disability Compensation Recipients'])
vadc_df.head(100)

,FIPS Code,State,County Name,Total: Disability Compensation Recipients,SCD Rating: 0% to 20%,SCD Rating: 30% to 40%,SCD Rating: 50% to 60%,SCD Rating: 70% to 90%,SCD Rating: 100%,Age: 17-44,Age: 45-64,Age: 65 or Older,Male,Female
0,NaN,Alabama,Unknown,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001.0,Alabama,Autauga,2000.0,435.0,270.0,278.0,623.0,394.0,466.0,957.0,576.0,1687.0,313.0
2,1003.0,Alabama,Baldwin,5073.0,1524.0,774.0,772.0,1199.0,804.0,936.0,1553.0,2584.0,4648.0,425.0
3,1005.0,Alabama,Barbour,605.0,111.0,75.0,110.0,186.0,123.0,97.0,242.0,266.0,537.0,68.0
4,1007.0,Alabama,Bibb,278.0,61.0,47.0,38.0,81.0,51.0,56.0,95.0,127.0,252.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,2275.0,Alaska,Wrangell,47.0,17.0,NaN,NaN,NaN,12.0,NaN,NaN,27.0,NaN,NaN
98,2290.0,Alaska,Yukon Koyukuk,44.0,10.0,10.0,NaN,10.0,NaN,NaN,NaN,26.0,NaN,NaN
99,NaN,Arizona,Unknown,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,4001.0,Arizona,Apache,753.0,188.0,106.0,92.0,228.0,139.0,142.0,197.0,414.0,679.0,74.0
101,4003.0,Arizona,Cochise,7481.0,1707.0,1268.0,1202.0,2089.0,1215.0,1950.0,2923.0,2608.0,6361.0,1120.0